h1{
    color: rgb(40,60,40);
    background-color: tomato;
}
p{
    color: #ffff00;
    background-color:darkblue ;

}
.one{
    height: 700px;
    width: 700px;
    color: springgreen;
    background-color: rgba(40, 40, 40, 60);
    background-image: url(/image/1_mk1-6aYaf_Bes1E3Imhc0A.jpeg);
    background-size: 700px 700px;
    background-repeat:no-repeat;
    position: absolute;
    left: 100px;
    top: 200px;


}
h2{
    position: relative;
    left: 50px;
    top: 50px;
}